.BusinessDetailsTabButton {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(58, 204, 172);
}

.BusinessDetailsTabButtonImg {
  height: 85%;
  width: 85%;
}

.BusinessDetailsTabButton:hover {
  background-color: rgb(79, 221, 174);
  cursor: pointer;
}
